/**
 * settings
 */

$base-font-size: 16px;
$base-line-height: 1.45;
$base-spacing: $base-font-size * $base-line-height;
$base-font-family: 'Georgia', serif;

$black: #444;
$grey: #868e96;
$light-grey: #aaa;

$base-text-color: $black;
$highlight-text-color: $grey;
$muted-text-color: $light-grey;
